$light-100: #e3e3e3;
$light-200: #cacae2;
$light-300: #a9a9c4;

$primary-300: #567280;
$primary-400: #345961;
$primary-500: #3f4f57;

$error-500: #bc171a;

$dark-800: #171d20;
$dark-900: #0e0f11;

$black: #000000;
$white: #ffffff;
