:root {
  --light-050: #f7f7f7;
  --light-100: #e3e3e3;
  --light-200: #cacae2;
  --light-300: #a9a9c4;

  --primary-300: #567280;
  --primary-400: #345961;
  --primary-500: #3f4f57;

  --error-500: #bc171a;

  --dark-700: #252e33;
  --dark-800: #171d20;
  --dark-900: #0e0f11;

  --black: #000000;
  --white: #ffffff;
}

:root.dark {
  --light-050: #1d2427;

  --primary-300: #4d7688;
  --primary-400: #24596a;
  --primary-500: #d7e6f0;

  --dark-700: #cacae2;
  --dark-800: #e3e3e3;
  --dark-900: #f7f7f7;

  --black: #e1e1e1;
  --white: #1f282c;
}
